<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>137635384166-88shdkrg02p85q48olp6nl0p3gmlvkmj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.137635384166-88shdkrg02p85q48olp6nl0p3gmlvkmj</string>
	<key>API_KEY</key>
	<string>AIzaSyC3pxCNTWN55rN2-jJ_H40_JiJS41L2vyo</string>
	<key>GCM_SENDER_ID</key>
	<string>137635384166</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.TMS.Melon</string>
	<key>PROJECT_ID</key>
	<string>melon-1a685</string>
	<key>STORAGE_BUCKET</key>
	<string>melon-1a685.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:137635384166:ios:fedfa25e692385eb19d6a7</string>
</dict>
</plist>